<header>
    <h1 class="full-name">{{ block.name }}</h1>
    <h2 class="job-title">{{ block.job_title }}</h2>
    <div class="links">
        {% for key, value in block.other_info.items() %}
            {% if value is string and (value.startswith('http') or '@' in value or value.endswith('.com') or value.endswith('.org')) %}
                <!-- <a href="{{ value }}">{{ key }}</a> -->
                <span class="link">{{ value }}</span>
            {% else %}
                <span class="link">{{ value }}</span>
            {% endif %}
        {% endfor %}
    </div>
</header>